.hero {
    margin: 0;
    padding: 118px 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    text-align: center;
    
    background-image: url('../../../images/bcg1920.jpg');
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../../../images/bcg3840.jpg);
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero_title {
    padding-top: 160px;
    font-weight: 900;
    font-size: 36px;
    color: $text-w;
}