.page-header_link {
    @extend %list;
    @extend %title;
    color: $text-accent;

    @media screen and (max-width: $mobile) {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3;
    }
}