.page-header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 50px;
    max-width: 100%;
    background-color: $bcg-w;
}

.page-header .container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}